*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;

}
html body{
    height: 100%;
    width: 100%;
     /* background-color: red;  */
}

#nav h1{
    font-size: 45px;
    display: flex;
    justify-content: center;
    font-family: arial;
    margin-top: 25px;
}



.contact-container{
background:white;
padding:30px;
width:100%;
border-radius:10px;
/* box-shadow:0 0 10px rgba(0,0,0,0.2); */
}

.contact-container h2{
text-align:center;
margin-bottom:20px;
}

form{
display:flex;
flex-direction:column;
}

input, textarea{
padding:10px;
margin-bottom:15px;
border:1px solid #ccc;
border-radius:5px;
}

button{
padding:10px;
background:#0077ff;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#0056b3;
}